
@media (min-width: 380px){
    .intro__body{
        padding-top: 400px;
        padding-bottom: 30px;
    }
}

@media (min-width: 768px){
    .block{
        padding: 60px 0;
    }
    .intro{
        min-height: auto;
        background: url(../img/intro-bg-pc.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .intro__body{
        padding-top: 400px;
        padding-bottom: 30px;
    }
    .about__content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .about__box-text{
        flex: 0 0 48%;
    }
    .about__block-img{
        flex: 0 0 48%;
    }
    .about__text {
        margin-bottom: 20px;
    }
    .about__text:last-child {
        margin-bottom: 0px;
    }
    .advantages__card {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .promotion__card-discription{
        display: flex;
        margin: 0 -10px;
        margin-bottom: 10px;
    }
   
    .promotion__card-box{
        flex: 1 1 50%;
        padding: 0 10px;
    }
    .promotion__card-time {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .promotion__card-tex{
        margin-bottom: 15px;
    }
    .promotion__card-list{
        display: flex;
        justify-content: end;
        gap: 10px;
    }
    .promotion__card-list-link{
        padding: 8px;
        padding-left: 35px;
        font-size: 15px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .promotion__card-list-link_youtube{
        background:  url(../img/dark-youtube.svg) no-repeat;
        background-position: 0 2px ;
        background-size: 30px 30px;
    }
    .promotion__card-list-link_geo{
        background:  url(../img/dark-geo.svg) no-repeat;
        background-position: 0 2px ;
        background-size: 30px 30px;
    }
    .promotion__card-list-link:hover{
        color: var(--main-color);
        text-decoration: underline;
    }
    .promotion__card-video{
        width: 100%;
        min-height: 350px;
    }
    .map__columns {
        margin: 0 auto;
        margin-bottom: 25px;
        max-width: 95%;
    }
    .map__progress-bar {
        margin: 0 auto;
        margin-bottom: 25px;
        max-width: 95%;
    }
    .map__text {
        margin-bottom: 15px;
    }
    .footer__columns{
        display: flex;
        margin: 0 -10px;
    }
    .footer__column{
        flex: 1 1 50%;
        padding:0  10px;
    }
    .footer__column-link {
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        width: 40px;
        height: 40px;
    }
    .footer__column-link:hover {
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
    }
    .footer__geo, .footer__info-tel{
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .footer__geo:hover, .footer__info-tel:hover{
        color: #d0d0d0;
    }
    
}
@media (min-width: 1024px){
    .box-header{
        gap: 60px;
        margin-bottom: 55px;
    }
    .text-describing{
        font-size: 18px;
    }
    .box-header__number-block{
        font-size: 130px;
        font-family: var(--dinpro-regular);
    }
    .box-header__title{
        font-size: 50px;
        max-width: 600px;
    }
    .box-header__subtitle{
        font-size: 24px;
        font-family: var(--dinpro-regular);
        margin-bottom: 20px;
    }
    .box-bottom__text{
        font-size: 24px;
        font-family: var(--dinpro-regular);
    }
    .blog__btn-swiper-box{
        display: flex;
        justify-content: end;
        gap: 40px;
        padding: 10px;
        margin-right: 40px;
    }
    .swiper-button-prev, .swiper-button-next{
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin: 0;
        padding: 0;
        color: transparent;
       
    }
    .swiper-button-prev{
        width: 30px;
        height: 30px;
        background: url(../img/light-prev-arrow.svg) no-repeat;
        background-size: 30px 30px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .swiper-button-next{
        width: 30px;
        height: 30px;
        background: url(../img/light-next-arrow.svg) no-repeat;
        background-size: 30px 30px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .swiper-button-prev:hover{
        background: url(../img/dark-prev-arrow.svg) no-repeat;
        background-size: 30px 30px;
    }
    .swiper-button-next:hover{
        background: url(../img/dark-next-arrow.svg) no-repeat;
        background-size: 30px 30px;
    }
    .btn {
        font-size: 18px;
        padding: 12px 20px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .btn:hover {
        background: var(--header-menu-bg);
        box-shadow: 0 0 10px 1px #000b152b;
    }
    
   
}
@media (min-width: 1200px){
    .text-describing{
        font-size: 24px;
    }
    .intro__body{
        padding-top: 430px;
        padding-bottom: 60px;
    }
    .about__content {
        gap: 40px;
    }
    .about__box-text{
        flex: 0 0 48%;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__box-text{
        flex: 0 0 60%;
        order: 2;
    }
    .about__block-img{
        flex: 0 0 37%;
        order: 1;
    }
    
}
@media (min-width: 1368px){
    .header{
        position: absolute;
    }
    .header__bottom{
        background: var(--header-menu-bg);
        height: auto;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
    .header__bottom-body{
        display: block;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
    .header__bottom-address{
        display: none;
    }
    .header__top{
        padding: 0;
        position: relative;
        z-index: 8;
        box-shadow:none;
        background: #00060b;
    }
    
    .header__top-body{
        padding: 8px;
    }
    .header__pc-name{
        display: block;
    }
    .header__pc-geo{
        display: block;
    }
    .header__pc-name__title{
        font-size: 16px;
        text-transform: uppercase;
        line-height: 120%;
        margin-bottom: 2px;
    }
    .header__pc-name__subtitle{
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        font-family: var(--oranienbaum-regular);
        margin-bottom: 2px;
    }
    .header__pc-geo__map, .header__pc-geo__tel{
        display: block;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .header__pc-geo__map:hover, .header__pc-geo__tel:hover{
        color: #c1c1c1;
    }
    .header__geo, .header__menu{
        display: none;
    }
    .header__bottom-list{
        flex: auto;
        padding:5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__bottom-list-item{
        opacity: 1;
        padding: 10px 20px;
        text-align: center;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .header__bottom-list-link{
        color: #FFF;
        position: relative;
    }
    .header__bottom-list-link::after{
        content: '';
        position: absolute;
        bottom: -7px;
        left: 50%;
        width: 70%;
        height: 1px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .header__bottom-list-link:hover::after{
        content: '';
        position: absolute;
        bottom: -7px;
        left: 50%;
        width: 70%;
        height: 1px;
        background: #0169bedf;
        box-shadow: 0 0 10px 2px #0077d885;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    .intro__body{
        padding-top: 480px;
        padding-bottom: 80px;
    }
    .intro__btn{
        font-size: 22px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    .intro__btn:hover{
        background: #033f705a;
        border: 2px solid rgb(57, 153, 249);
        box-shadow: 0 0 10px 3px #084b8f65;
    }
    
}

@media (min-width: 1400px){
    .advantages__card {
        flex: 0 0 12%;
        margin-top: 20px;
    }
    .advantages__card-img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        transition: all 0.6s;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
    }
    .advantages__card:hover  .advantages__card-img{
       transform: translateY(-4px);
       -webkit-transform: translateY(-4px);
       -moz-transform: translateY(-4px);
       -ms-transform: translateY(-4px);
       -o-transform: translateY(-4px);
    }
    .advantages__card-text {
        font-size: 18px;
    }
    .card__link{
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
    .card__link:hover{
        color: #c1c1c1;
    }
    .footer__form-title {
        font-size: 28px;        
    }
    .footer__geo{
        display: block;
        margin-bottom: 20px;
    }
    .card{
        max-width:none;
        flex: 0 0 30%;
    }
    .card-ghost, .card-ghost.is-visible{
        display: block;
    }
    .show-products-btn:hover, .show-services-btn:hover {
        background: var(--main-bg);
        color: var(--third-color);
        padding: 10px 20px;
        font-size: 16px;
        border: 1px solid var(--third-color);
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
    }
    
}
@media (min-width: 1600px){
    
}
@media (min-width: 1900px){
    .intro__body{
        padding-top: 530px;
        padding-bottom: 120px;
    }
}

@media  (max-width: 425px){

}
@media  (max-width: 360px){
    
}
@media (min-width: 1900px){
}
